.App {
  text-align: center;
  margin-right: 30px black;
  margin-left: 30px black;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 10vmin);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(25, 25, 24)
}
